*{
    margin: 0px;
    padding: 0px;
    text-align: center;

}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    /* for getting heading in mid we use line-height: 5rem ;height of heading */
    line-height: 5rem;
}
.choice{
    height: 170px;
    width: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
    
}
img{
    height: 150px;
    width: 150px;
    /* for perfect view of image */
    object-fit:cover;
    /*for making cicle*/
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:10rem;
    margin-top:3rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top:5rem;

}
#msg{
    background-color: #081b31;
    color:#fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

}
