.borderpane {
    -fx-background-image: url('../CalenderPageImage/image3.jpeg'); 
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
}
.my-button {
    -fx-background-color:antiquewhite ;
    -fx-text-fill:black;
    -fx-border-radius: 3px;
    -fx-border-color: white;
}
.today-button {
    -fx-background-color:rgb(240, 107, 59) ;
    -fx-text-fill:black;
    -fx-border-radius: 3px;
    -fx-border-color: white;
}
.my-button:hover {
    -fx-background-color: #f4b897;
}

.combo-box {
    -fx-background-color: white; 
    -fx-text-fill: #097969;
          
    -fx-pref-width: 250px;   
    -fx-pref-height: 40px;
    -fx-border-radius: 3px;
    
}
.custom-text{
    -fx-fill: #097969 ;
    -fx-font-family: 'Segoe Script', sans-serif;
}
.my-btn{
    -fx-pref-width:200px;
    -fx-pref-height: 40px;
    -fx-border: none;
    -fx-border-radius: 3px;

    -fx-background-color: #952323; 
    -fx-text-fill: white;
     -fx-padding: 10 20; 
     -fx-background-radius: 10;

}
.my-btn1{
    -fx-pref-width:200px;
    -fx-pref-height: 40px;
    -fx-border: none;
    -fx-border-radius: 3px;

    -fx-background-color: #27ae60; 
    -fx-text-fill: white;
     -fx-padding: 10 20; 
     -fx-background-radius: 10;

}
.my-btn:hover{
    -fx-background-color: #bbe4cc;
}
.my-msg{
    -fx-fill: #097969 ;
    -fx-font-family: 'Segoe Script', sans-serif;
    
}